title {
    color: black;
    font-weight: bolder;
    font-family: cursive;
    font-size: 30px;
    text-align: center;
}
body {
    background-color: firebrick;
    color: powderblue;
    text-align: center;
}
.madi {
    height: 200px;
    width: 300px;
    margin: auto;
    margin-top: 150px;
    margin-left: 45px;
    text-align: center;
    align-items: center;
    text-anchor: black;
    border-radius: 400px;
}
.p {
    margin-top: 170px;
    margin-left: 15px;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
}